{% extends 'base.html' %}
{% load static TemplateFuncs %}
{% block page_content %}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-xl-6">
        			{% GetDetailPagination request %}
            </div>
            <div class="col-xl-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/new/authentication/AuthenticationUser" class="btn btn-outline-secondary">Yeni Ekle</a></li>
                    <li class="breadcrumb-item"><a href="/edit/authentication/AuthenticationUser" class="btn btn-outline-secondary">Bilgiyi Düzenle</a></li>
                    <li class="breadcrumb-item"><a href="/delete/authentication/AuthenticationUser" class="btn btn-outline-secondary">Bilgiyi Sil</a></li>
                    <li class="breadcrumb-item"><a href="/list/authentication/AuthenticationUser" class="btn btn-outline-secondary">Tüm Tablo</a></li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <!-- Default box -->
    <div class="card"  onload="DetailPageLoad()">
      <div class="card-body">
        <div class="row">
          <div class="col-8" style="column-count: 2;">
            <div class="row" style="display: flex" id="id_full_name">
                <span style="flex: 1"><strong>Tam Adı:</strong> </span>
                <span style="flex: 1">{{ user.get_full_name|safe }}</span>
            </div>
          </div>
          <div class="col-4">
                <div class="row" id="id_groups">
                    <div class="col-xl-12">
                        {% if field.related_name != "" and field.related_name %}
                            <strong><a href="/list/authentication/UserGroup?user_id_id={{ object.id }}" class="show_all">Kullanıcı Grup İlişkileri</a></strong>
                            <a href="/new/authentication/UserGroup?{{ user_id }}={{ object.id }}" id="add_groups" class="add_item"> <i class="fa fa-plus"></i></a>
                    </div>
                    <div class="col-xl-12">
                        <ul>
                            <a href="#"><li>Test</li></a>
                        </ul>
                    </div>
                </div>
          </div>
        </div>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </section>


{% endblock %}
{% block more_stylesheet %}
{% endblock  %}
{% block more_script %}
{% endblock %}