{% load TemplateFuncs %}

<form method="post" class="user" id="form_NoteModel">
    <div class="card-body">
        <input type="hidden" name="csrfmiddlewaretoken" value="TpYn7RFHJiBgTDUantgEBlk55Zmhsh0d9jqh6Ms3DhB9pbJ9SK8Q6FzaCWiAHeYR">
        <p><label for="id_note">Not:</label> <input type="text" name="note" maxlength="50" class="form-control" id="id_note"></p>
        <p><label for="id_desc">Açıklama:</label> <input type="text" name="desc" maxlength="500" class="form-control" id="id_desc"></p>
        <p><label for="id_name">Adı:</label> <input type="text" name="name" maxlength="100" class="form-control" id="id_name"></p>
    </div>
</form>