{% extends "base.html" %}
{% load static TemplateFuncs %}
{% block page_content %}
<!-- Content Header (Page header) -->
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
                </div>
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item"><a href="{% url 'global_list' table_name %}" class="btn btn-outline-secondary">{{ list_title }}</a></li>
					</ol>
				</div>
			</div>
		</div><!-- /.container-fluid -->
	</section>


	<!-- Main content -->
    <section class="content">
		<div class="container-fluid">
		  <div class="row">
			<div class="col-12">
			  <div class="card">
				<!-- /.card-header -->
				<div class="card-body">
				  <form method="post" class="user" id="form_record">
                        <div class="card-body">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <div class="row justify-content-end">
                                <button class="btn btn-secondary btn-icon-split" type="submit">
                                    <span class="text">Kaydet</span>
                                </button>
                            </div>
                        </div>
                    </form>
				</div>
				<!-- /.card-body -->
			  </div>
			  <!-- /.card -->
  
			</div>
			<!-- /.col -->
		  </div>
		  <!-- /.row -->
		</div>
		<!-- /.container-fluid -->
	  </section>
{% endblock %}
{% block more_stylesheet %}
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- iCheck for checkboxes and radio inputs -->
    <link rel="stylesheet" href="{% static "/lte_source/plugins/icheck-bootstrap/icheck-bootstrap.min.css" %}">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="{% static "/lte_source/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css" %}">
    <!-- Select2 -->
    <link rel="stylesheet" href="{% static "/lte_source/plugins/select2/css/select2.min.css" %}">
    <link rel="stylesheet" href="{% static "/lte_source/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css" %}">
{% endblock %}
{% block more_script %}
    <!-- Select2 -->
    <script src="{% static "/lte_source/plugins/select2/js/select2.full.min.js" %}"></script>
    <!-- InputMask -->
    <script src="{% static "/lte_source/plugins/moment/moment.min.js" %}"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="{% static "/lte_source/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js" %}"></script>
    <script>
        $(document).ready(function () {
            $('.form-date').datetimepicker({
                locales:'tr',
                format:  "YYYY-MM-DD",
                todayHighlight:true,
                pickTime:false,
                pickDate: true,
                inline: true,
		        useCurrent: false,
                buttons: {
                    showToday: true,
                },
                tooltips: {
                    today:"Bugün",
                }
            });
            $('.form-time').datetimepicker({
                locale :'tr',
                format:  "HH:mm",
                pickDate: false,
                use24hours: true,
                inline: true,
                Default: false,
             });
            $('.form-date-time').datetimepicker({
                locale :'tr',
                format:  "YYYY-MM-DD HH:mm",
                todayHighlight:true,
                pickTime:true,
                pickDate: true,
                use24hours: true,
                sideBySide: true,
                Default: false,
                buttons: {
                    showToday: true,
                },
                tooltips: {
                    today:"Bugün",
                }
             });
            $('.form-dropdown-select2').select2({});
            $('.form-checkbox-select2').select2({});
            $('.form-dropdown-select2').on("select2:open", function (e) {
                document.getElementsByClassName("select2-search__field")[0].focus()
            });
        });
    </script>
{% endblock %}