{% extends 'base.html' %}
{% load static %}
{% block page_content %}
<!-- Content Header (Page header) -->
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-xl-4">
				</div>
				<div class="col-xl-4"> 	
					<div class="input-group input-group-sm" style="width: %100;">
						<input type="text" name="search_text" class="form-control float-right" placeholder="Arama" id="search_text">
					</div>
				</div>
				<div class="col-xl-4">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item"><a href="/new/people/Person" class="btn btn-outline-secondary">Yeni Ekle</a></li>
					</ol>
				</div>
			</div>
		</div><!-- /.container-fluid -->
	</section>


	<!-- Main content -->
	<section class="content">
		<div class="container-fluid">
		  <div class="row">
			<div class="col-12">
			  <div class="card">
				<!-- /.card-header -->
				<div class="card-body">
				  <table id="id_data_table" class="table table-bordered table-hover" data-page-length='50'>
					<thead>
						<tr>
							<th>Tam Adı</th>
							<th>Grubu</th>
							<th>Cinsiyeti</th>
							<th>Şehri</th>
							<th>Telefonları</th>
							<th>Mail Adresleri</th>
							<th>Sosyal Medya Hesapları</th>
						</tr>
					</thead>
					<tbody>
						{% for object in object_list %}
							<tr class="row-link" href="{% url 'global_detail' table_name object.id %}">
								{% for field in fields %}
									<td style="max-width: 30ch">
										{{ object|GetAttrValue:field|safe }}
									</td>
								{% endfor %}
							</tr>
						{% endfor %}
					</tbody>
					<tfoot>
						<tr>
							<th>Tam Adı</th>
							<th>Grubu</th>
							<th>Cinsiyeti</th>
							<th>Şehri</th>
							<th>Telefonları</th>
							<th>Mail Adresleri</th>
							<th>Sosyal Medya Hesapları</th>
						</tr>
					</tfoot>
				  </table>
				</div>
				<!-- /.card-body -->
			  </div>
			  <!-- /.card -->
  
			</div>
			<!-- /.col -->
		  </div>
		  <!-- /.row -->
		</div>
		<!-- /.container-fluid -->
	  </section>
{% endblock  %}
{% block more_stylesheet %}
  <!-- DataTables -->
  <link rel="stylesheet" href="{% static '/lte_source/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static '/lte_source/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static '/lte_source/plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
  {% endblock  %}
{% block more_script %}
<!-- DataTables  & Plugins -->
<script src="{% static '/lte_source/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static '/lte_source/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static '/lte_source/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static '/lte_source/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static '/lte_source/plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static '/lte_source/plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script>
	$('#id_data_table').DataTable({
		"paging": false,
		"lengthChange": false,
		"searching": false,
		"ordering": false,
		"info": false,
		"autoWidth": true,
		"responsive": true,
	});
	
	$('.row-link').dblclick(function() {
		window.location = this.getAttribute("href")
	});
	
	var input = document.getElementById("search_text");
	input.addEventListener("keyup", function(event) {
		if (event.keyCode === 13) {
			event.preventDefault();
			if (input.value  === "") {
				window.location = window.location.href.split("?")[0];
			}
			else {
				window.location = window.location.href.split("?")[0]+"?search=" + input.value;
			}
		}
	}
	);
</script>
{% endblock %}