{% extends 'base.html' %}
{% load static TemplateFuncs %}
{% block page_content %}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>{{ title }}</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="">Yeni Kayıt</a></li>
                    <li class="breadcrumb-item"><a href="#">Güncelle</a></li>
                    <li class="breadcrumb-item active"><a href="#">Liste</a></li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3>{{ object }}</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="column col-12" style="column-count: 3" id="id_object_info">
                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="column col-12" style="column-count: 3" id="id_object_related_info">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}