{% extends 'base.html' %}
{% load static TemplateFuncs %}
{% block page_content %}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-xl-6">
        			{% GetDetailPagination request %}
            </div>
            <div class="col-xl-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{% url 'global_create' table_name %}" class="btn btn-outline-secondary">Yeni Ekle</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'global_update' table_name object.id %}" class="btn btn-outline-secondary">Bilgiyi Düzenle</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'global_delete' table_name object.id %}" class="btn btn-outline-secondary">Bilgiyi Sil</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'global_list' table_name %}" class="btn btn-outline-secondary">Tüm Tablo</a></li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <!-- Default box -->
    <div class="card"  onload="DetailPageLoad()">
      <div class="card-body">
        <div class="row">
          <div class="col-8" style="column-count: 2;">
            {% for field in fields %}
                <div class="row" style="display: flex" id="{{ field.name }}">
                    <span style="flex: 1"><strong>{{ field.verbose_name }}:</strong> </span>
                    <span style="flex: 1">{{ object|GetAttrValue:field|safe }}</span>
                </div>
            {% endfor %}
          </div>
          <div class="col-4">
            {% for field in related_fields %}
                <div class="row" id="{{ field.table_id.name }}">
                    <div class="col-xl-12">
                        {% if field.related_name != "" and field.related_name %}
                            <strong><a href="{% url 'global_list' field.table_id.name %}?{{ field.name }}_id={{ object.id }}" class="show_all">{{ field.table_id.verbose_name_plural }}({{ field.verbose_name }})</a></strong>
                            <a href="{% url 'global_create' field.table_id.name  %}?{{ field.name }}={{ object.id }}" id="add_{{ field.table_id.name }}" class="add_item"> <i class="fa fa-plus"></i></a>
                        {% else %}
                            <strong><a href="{% url 'global_list' field.table_id.name %}?{{ field.name }}_id={{ object.id }}" class="show_all">{{ field.table_id.verbose_name_plural }}</a></strong>
                            <a href="{% url 'global_create' field.table_id.name  %}?{{ field.name }}={{ object.id }}" id="add_{{ field.table_id.name }}" class="add_item"> <i class="fa fa-plus"></i></a>
                        {% endif %}
                    </div>
                    <div class="col-xl-12">
                        <ul>
                            {% for obj in object|GetRelatedAttrValue:field %}
                                <a href="{% url 'global_detail' field.table_id.name obj.id %}"><li>{{ obj }}</li></a>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endfor %}
          </div>
        </div>
        {% if table_name == "ChangeModel" %}
            <div class="row">
                <div class="col-12">
                    {% GetChangeModelDetail request %}
                </div>
            </div>
        
        {% elif table_name == "RepetitiveModel" %}
            <div class="row">
                <div class="col-12">
                    {% GetRepetitiveModelDetail request  %}
                </div>
            </div>
        {% endif %}
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </section>


{% endblock %}
{% block more_stylesheet %}
<!-- Ion Slider -->
<link rel="stylesheet" href="{% static '/lte_source/plugins/ion-rangeslider/css/ion.rangeSlider.min.css' %}">
{% endblock  %}
{% block more_script %}
<!-- Ion Slider -->
<script src="{% static '/lte_source/plugins/ion-rangeslider/js/ion.rangeSlider.min.js' %}"></script>

<script src="{% static '/js/global_detail.js' %}"></script>
{% endblock %}