{% extends "base.html" %}
{% load static TemplateFuncs %}
{% block page_content %}
<!-- Content Header (Page header) -->
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
				</div>
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item"><a href="{% url 'global_list' 'TransactionModel' %}" class="btn btn-outline-secondary">Muhasebe Kaydı Listesi</a></li>
						<li class="breadcrumb-item"><a href="{% url 'global_list' 'ChangeModel' %}" class="btn btn-outline-secondary">Aldım - Verdim Listesi</a></li>
						<li class="breadcrumb-item"><a href="{% url 'global_list' 'RepetitiveModel' %}" class="btn btn-outline-secondary">Tekrarlı Olay Listesi</a></li>
						<li class="breadcrumb-item"><a href="{% url 'global_list' 'PenaltyModel' %}" class="btn btn-outline-secondary">Ceza Listesi</a></li>
						<li class="breadcrumb-item"><a href="{% url 'global_list' 'NoteModel' %}" class="btn btn-outline-secondary">Not Listesi</a></li>
					</ol>
				</div>
			</div>
		</div><!-- /.container-fluid -->
	</section>


	<!-- Main content -->
	<section class="content">
		<div class="container-fluid">
		  <div class="row">
			<div class="col-6">
			
				<form method="post" class="user" id="form_transaction_master" model="TransactionModel" action="./" enctype="multipart/form-data">
					{% csrf_token %}
					<div class="card card-primary card-outline card-outline-tabs">
						<!-- /.card-header -->
						<div class="card-header p-0 border-bottom-0">
							<ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">
								<li class="nav-item">
									<a class="nav-link active" id="content_transaction_master_tab" data-toggle="pill" href="#content_transaction_master" role="tab" aria-controls="content_transaction_master" aria-selected="true">Muhasebe Kaydı</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" id="content_transaction_change_tab" data-toggle="pill" href="#content_transaction_change" role="tab" aria-controls="content_transaction_change" aria-selected="false">Aldım - Verdim Kaydı</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" id="content_transaction_repetitive_tab" data-toggle="pill" href="#content_transaction_repetitive" role="tab" aria-controls="content_transaction_repetitive" aria-selected="false">Tekrarlı Olay Kaydı</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" id="content_transaction_penalty_tab" data-toggle="pill" href="#content_transaction_penalty" role="tab" aria-controls="content_transaction_penalty" aria-selected="false">Ceza Kaydı</a>
							</ul>
						</div>
						<!-- /.card-body -->
						<div class="card-body">
							<div class="tab-content" id="custom-tabs-four-tabContent">
								<div class="tab-pane fade show active" id="content_transaction_master" role="tabpanel" aria-labelledby="content_transaction_master_tab">
										<div class="card-body">
											{{ form_transaction_master.as_p }}
										</div>
								</div>
								<div class="tab-pane fade" id="content_transaction_change" role="tabpanel" aria-labelledby="content_transaction_change_tab">
										<div class="card-body">
											{{ form_transaction_change.as_p }}
										</div>
								</div>
								<div class="tab-pane fade" id="content_transaction_repetitive" role="tabpanel" aria-labelledby="content_transaction_repetitive_tab">
										<div class="card-body">
											{{ form_transaction_repetitive.as_p }}
										</div>
								</div>
								<div class="tab-pane fade" id="content_transaction_penalty" role="tabpanel" aria-labelledby="content_transaction_penalty_tab">
										<div class="card-body">
											{{ form_transaction_penalty.as_p }}
										</div>
								</div>
							</div>
							
							<div class="row justify-content-end">
								<button class="btn btn-secondary btn-icon-split" type="submit">
									<span class="text">Kaydet</span>
								</button>
							</div>
						</div>
						<!-- /.card-body -->
					</div>
					<!-- /.card -->
				</form>
			</div>
			<!-- /.col -->
		  </div>
		  <!-- /.row -->
		</div>
		<!-- /.container-fluid -->
	  </section>
{% endblock %}
{% block more_stylesheet %}
	<!-- DataTables -->
	<link rel="stylesheet" href="{% static '/lte_source/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
	<link rel="stylesheet" href="{% static '/lte_source/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
	<link rel="stylesheet" href="{% static '/lte_source/plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
	<!-- Google Font: Source Sans Pro -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
	<!-- iCheck for checkboxes and radio inputs -->
	<link rel="stylesheet" href="{% static "/lte_source/plugins/icheck-bootstrap/icheck-bootstrap.min.css" %}">
	<!-- Tempusdominus Bootstrap 4 -->
	<link rel="stylesheet" href="{% static "/lte_source/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css" %}">
	<!-- Select2 -->
	<link rel="stylesheet" href="{% static "/lte_source/plugins/select2/css/select2.min.css" %}">
	<link rel="stylesheet" href="{% static "/lte_source/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css" %}">
{% endblock %}
{% block more_script %}
	<!-- DataTables  & Plugins -->
	<script src="{% static '/lte_source/plugins/datatables/jquery.dataTables.min.js' %}"></script>
	<script src="{% static '/lte_source/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
	<script src="{% static '/lte_source/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
	<script src="{% static '/lte_source/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
	<script src="{% static '/lte_source/plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
	<script src="{% static '/lte_source/plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
	<script src="{% static "/js/transaction_form2.js" %}"></script>
	<!-- Select2 -->
	<script src="{% static "/lte_source/plugins/select2/js/select2.full.min.js" %}"></script>
	<!-- InputMask -->
	<script src="{% static "/lte_source/plugins/moment/moment.min.js" %}"></script>
	<!-- Tempusdominus Bootstrap 4 -->
	<script src="{% static "/lte_source/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js" %}"></script>
	<script>
		$(document).ready(function () {
			$('.form-date').datetimepicker({
				locales:'tr',
				format:  "YYYY-MM-DD",
				todayHighlight:true,
				pickTime:false,
				pickDate: true,
				inline: true,
				buttons: {
					showToday: true,
				},
			});
			$('.form-time').datetimepicker({
				locale :'tr',
				format:  "HH:mm",
				pickDate: false,
				use24hours: true,
				inline: true,
			 });
			$('.form-date-time').datetimepicker({
				locale :'tr',
				format:  "YYYY-MM-DD HH:mm",
				todayHighlight:true,
				pickTime:true,
				pickDate: true,
				use24hours: true,
				sideBySide: true,
				inline: true,
				buttons: {
					showToday: true,
				},
			 });
			// select özellikleri ata
			$('.form-dropdown-select2').select2({
                theme: 'bootstrap4'});
			$('.form-checkbox-select2').select2({});
			// datatable tanımı
			$('#id_data_table').DataTable({
				"paging": false,
				"lengthChange": false,
				"searching": false,
				"ordering": false,
				"info": false,
				"autoWidth": false,
				"responsive": true,
			});
			
			// select özelliği olanlara sonradan doldurmak için tetik bırak
			document.getElementById("content_transaction_master_tab").addEventListener("click",function (e) {
					GetSelectData(this);
				});
			document.getElementById("content_transaction_change_tab").addEventListener("click",function (e) {
					GetSelectData(this);
				});
			document.getElementById("content_transaction_repetitive_tab").addEventListener("click",function (e) {
					GetSelectData(this);
				});
			document.getElementById("content_transaction_penalty_tab").addEventListener("click",function (e) {
					GetSelectData(this);
				});
			//document.getElementById("content_transaction_master_tab").click();
		});
	</script>
{% endblock %}